<div class="logo">
    <img src="img/logo.svg">
    <div class="logo-text">
        <div class="logo-title">Steamoven</div>
        <div class="logo-desc">Graphic Design &amp; Illustration</div>
    </div>
</div>
<div class="social">
    <div class="">
        Find me elsewhere!
    </div>
    <ul class="list-reset">
        <li>
            <a href="http://facebook.com/steamovenart" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="http://instagram.com/steamovendesign/" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="http://linkedin.com/in/nataliamokwinski" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</div>