<span>Quick Jump</span>
<ul class="list-reset projects-shortcuts">

    {{ $.Scratch.Set "categoryCount" 0 }}
    {{ $.Scratch.Set "projectCount" 0 }}
    {{ range where $.Site.Pages ".Title" "Categories" }}
        {{ range $catindex, $cat_val :=  .Params.projectCategories  }}
            {{ range where $.Site.Pages ".Title" .category }}
                <li>
                    <a class="slide-shortcut project-{{ $.Scratch.Get "categoryCount" }}" data-link-to="{{ $.Scratch.Get "projectCount" }}">{{.Title}}</a>
                </li>
                {{ $.Scratch.Add "categoryCount" 1 }}
                {{ range .Params.projects  }}
                    {{ $.Scratch.Add "projectCount" 1 }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
    <li>
        <a class="slide-shortcut" data-link-to="{{ $.Scratch.Get "projectCount" }}">Contact</a>
    </li>
</ul>